home.css .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: linear-gradient(to left, #140952a6, #530b70);
}

.Favorites {
  font-family: "Garamond", sans-serif;
  padding: 10px;
  margin: 20px;
  color: yellow;
  text-align: left;
}

.Decks {
  font-family: "Garamond", sans-serif;
  padding: 10px;
  margin: 20px;
  color: white;
  text-align: left;
}

.OtherDecks {
  font-family: "Garamond", sans-serif;
  padding: 10px;
  margin: 20px;
  color: white;
  text-align: left;
}

.Content-box {
  border: 5px solid #ffffff;
  min-height: 200px;
  margin-top: 20px;
}

.Favorites-box {
  border-color: yellow;
}

.Decks-box {
  border-color: rgba(255, 255, 255, 0.356);
}

.OtherDecks-box {
  border-color: rgba(255, 255, 255, 0.37);
}

.deckAreaBackground {
  padding: 10px;
  display: flex;
  background-color: rgba(128, 128, 128, 0.5);
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.5);
}

.span_style {
  margin-left: 5px;
  text-align: center;
  padding: 5px;
  top: 60%;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
