.HeaderOne {
  color: white;
  /* color: rgba(233, 56, 209, 0.527); */
}

.mainbody {
  padding: 10px;
  margin: 20px;
  color: white;
  text-align: left;
}

.Content-box {
  border: 5px solid #ffffff;
  min-height: 100%;
  margin-top: 20px;
}

.search_results-box {
  border-color: rgba(255, 255, 255, 0.356);
}