html{
    height: 100%;
    background-color: #333333;
}

body{
    height: 100%;
}

#main_div{
    color: white;
    height:100%;
    width: 100%;
    text-align: center;
}

#errors_display{
    color: red;
}
