.flashcard {
  perspective: 1000px;
  width: 600px; 
  height: 300px; 
  position: relative;
  margin: 75px auto;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flashcard.flipped .card {
  transform: rotateY(180deg);
}

.front, .back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; 
  box-sizing: border-box;
  overflow-wrap: break-word;
  text-align: center;
  font-size: 16px; 
}

.front {
  background-color: #ce93d8;
}

.back {
  background-color: #ce93d8;
  transform: rotateY(180deg);
}

.front p, .back p {
  margin: 0; 
  overflow-wrap: break-word;
  word-break: break-all; 
  text-overflow: ellipsis; 
  max-height: 100%; 
  overflow: hidden; 
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}